// break points vars

$tablet: 767px;
$flag: 30em;
$tablet_hor: 1050px;
$arbitrary: 1100px;
$big_screen: 1080px;
$biggest_screen: 1200px;
$super_small: 550px;
$custom_500: 500px;
$custom_650: 650px;

//colours

$nu: 'Nunito',sans-serif;
$lor: 'Lora',serif;




